body {
  margin: 0;
  padding: 0;
  background-color: blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60%;
  height: 85%;
  border-radius: 10px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

  }

  nav {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
  }
}
