* {
    margin: 0;
    padding: 0;
    font-family: jakarta sans, sans-serif;
}

header {
    width: 90%;
    height: 10vh;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

logo-holder {
    width: 15%;
    height: 80%;
    margin-right: 25%;
    display: flex;
    align-items: center;
}

nav {
    width: 28%;
    height: 40%;
    font-style: italic;
    display: flex;
    margin-left: 195px;
    gap: 10px;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
    }



    .unlock {
        width: 23%;
        height: 60%;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        cursor: pointer;
    }

    .unlock:after{
        content: "";
        position: absolute;
        left: 0%;
        top: 20px;
        background-color: red;
        height: 3px;
        width: 0;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }  
    

    .unlock:hover::after{
        width: 105px;
        transform: scaleX(1);
    }

    .pro {
        width: 50px;
        height: 100%;
        background-color: rgb(64, 64, 186);
        border-radius: 5px;
        margin-left: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

}

button {
    background-color: black;
    color: white;
    font-style: italic;
    border-radius: 25px;
    width: 16%;
    margin-left: 10px;
    height: 60%;
    cursor: pointer;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin-left: 10px;
        mix-blend-mode: difference;
    }
}

button:hover {
    background-color: rgb(55, 50, 50);
}

.bodyholder {
    width: 56%;
    height: 65vh;
    margin-left: 20%;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .text {
        width: 70%;
        height: 10%;
        display: flex;
        flex-direction: row;
    }

    h1 {
        color: #3e54a3;
        font-size: 45px;
        margin-left: 135px;
        margin-bottom: 40px;
    }

    span {
        color: #3e54a3;
        margin-left: 170px;
    }

    .text {
        margin-left: 180px;
        font-size: 18px;
        gap: 10px;

        h5 {
            width: 120px;
            height: 20px;
            font-size: 17px;
            cursor: pointer;
            color: rgb(115 115 115);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: underline;
          
            img {
                mix-blend-mode: multiply;
            }
        }
    }

    h5:hover{
        text-decoration: none;
    }


    .text1 {
        font-size: 21px;
        display: flex;
        align-items: center;
        flex-direction: column;
        line-height: 30px;
        color: rgb(115 115 115);
    }

    .button {
        background-color: rgb(225 29 72);
        color: white;
        border-radius: 25px;
        width: 30%;
        margin-left: 10px;
        height: 50px;
        cursor: pointer;
        font-weight: bold;
        font-style: italic;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        img{
           mix-blend-mode: difference;
        }
        
    }

    .button:hover {
        background-color: rgb(153, 49, 49);
    }
}