* {
    padding: 0%;
    margin: 0%;
}


nav {
    background-color: chocolate;
    box-shadow: 5px 5px 5px grey;
    color: bisque;
    width: 99vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;

    ul {
        width: 30%;
        font-size: 22px;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 40px;

        a {
            text-decoration: none;
            color: bisque;
        }

    }
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}






.icons-wrapper {
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
    background-color: plum;
    gap: 15px;
    margin-left: 30%;
    display: flex;
    align-items: center;

    .div-wrapper {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    div {
        width: 50px;
        height: 50px;
        background-color: azure;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 50%;
            height: 50%;
            mix-blend-mode: multiply;
        }
    }

    .message {
        position: absolute;
        text-align: center;
        top: -35px;
        left: -20px;
        width: 100px;
        height: 30px;
        display: none;
    }


    div:hover{
        background-color: blue;
    }
    div:hover .message {
        background-color: blue;
        color: #fff;
        display: block;
    }

    div1 {
        width: 50px;
        height: 50px;
        background-color: azure;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 50%;
            height: 50%;
            mix-blend-mode: multiply;
        }
    }

    .message {
        position: absolute;
        text-align: center;
        top: -35px;
        left: -20px;
        width: 100px;
        height: 30px;
        display: none;
    }

    div1:hover{
        background-color: rgb(50, 150, 255);
    }

    div1:hover .message {
        background-color: rgb(50, 150, 255);
        color: #fff;
        display: block;
    }

    div2 {
        width: 50px;
        height: 50px;
        background-color: azure;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 50%;
            height: 50%;
            mix-blend-mode: multiply;
        }
    }

    .message {
        text-align: center;
        position: absolute;
        top: -35px;
        left: -20px;
        width: 100px;
        height: 30px;
        display: none;
    }

    div2:hover{
        background-color: rgb(229, 40, 142);
    }
    div2:hover .message {
        background-color: rgb(229, 40, 142);
        color: white;
        display: block;
    }

    div3 {
        width: 50px;
        height: 50px;
        background-color: azure;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 50%;
            height: 50%;
            mix-blend-mode: multiply;
        }
    }

    .message {
        text-align: center;
        position: absolute;
        top: -35px;
        left: -20px;
        width: 100px;
        height: 30px;
        display: none;
    }

    div3:hover{
        background-color: aliceblue;
    }

    div3:hover .message {
        background-color: black;
        color: white;
        display: block;
    }

    div4 {
        width: 50px;
        height: 50px;
        background-color: azure;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 50%;
            height: 50%;
            mix-blend-mode: multiply;
        }
    }

    .message {
        text-align: center;
        position: absolute;
        top: -35px;
        left: -20px;
        width: 92px;
        height: 30px;
        display: none;
    }

    div4:hover{
        background-color: red;
    }
    div4:hover .message {
        background-color: red;
        color: white;
        display: block;
    }
}

.dropdown{
    width: 40vw;
    height: 60vh;
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dropdown-content{
    position: absolute;
    width: 150px;
    height: 160px;
    background-color: gray;
    border-radius: 10px;
    top: 100px;
    left: 0;
    font-size: 16px;
    color: red;
    display: none;

    li{
        list-style: none;
    }
}

.menu-wrapper{
    width: 100%;
    height: 20%;
    display: flex;
   
    .menu{
       width: 32%;
       height: 100%;
       background-color: rgb(13, 162, 13);
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 20px;
       font-weight: bold;
       color: #fff;
       border-radius: 10px;
       position: relative;
    }

    .menu:hover .dropdown-content{
        display: block;
    }

    

    .menu1{
       width: 32%;
       height: 100%;
       background-color: rgb(30, 91, 214);
        display: flex;
       justify-content: center;
       align-items: center;
       font-size: 20px;
       font-weight: bold;
       color: #fff;
       border-radius: 10px;
       position: relative;
    }

    .menu1:hover .dropdown-content{
        display: block;
    }



    .menu2{
       width: 32%;
       height: 100%;
       background-color: rgb(255, 0, 111);
        display: flex;
       justify-content: center;
       align-items: center;
       font-size: 20px;
       font-weight: bold;
       color: #fff;
       border-radius: 10px;
       position: relative;
    }

    .menu2:hover .dropdown-content{
        display: block;
    }


}

.box{
    width: 95%;
    height: 30%;
    background-color: pink;
}